.landing-root
{
    .clickable-link { 
        cursor: pointer;
    }

    .brand-logo {
        margin-left: 15px;
    }
    .pathName{
        background-color: #F7F7F9;
        border: 1px #e2e2e8 solid;
        color: #D82B40;
        padding: 2px 6px;
    }
}